body {
    background-color: #333;
    color: #f4f4f4;
    margin: 0 auto;
    width: 900;
    text-align: center;
}

a {
    color: #ff69b4;
}

h1 {
    font-size: 60px;
    color: aquamarine;
}
